/* Created by Michael Holthausen for Thinkful prep course, October 2021 */
h1 {
  text-align:center;
  color:#00CFFF;
  font-family:"Times New Roman", serif;
  font-size: 30px;
  background-color:#1C304A;
}

p {
  font-family:Arial, sans-serif;
  padding:5px;
}

li {
  height:20px;
  margin: 15px;
}

a:link{
 color:#046B99; 
}

a:visited {
  color: #1C304A;
}

a:hover {
  color:#00CFFF;
}

a:active {
  color:#B3EFFF;
}
